
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.container {
  height:550px;
  width: 380px;
  padding: 35px;
  background: #ffffffee;
  border-radius: 18px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
  animation: fadeIn 0.6s ease;
  border: 2px outset hwb(0 7% 93%);
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}


.container h2 {
  text-align: center;
 font-weight: 600;
  color: #333;
  margin-top: 0px;
}


.container input {

  width: 100%;
  padding: 10px;

  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  transition: 0.3s;
  font-size: 15px;
}

.container input:focus {
  border-color: #2575fc;
  box-shadow: 0 0 5px rgba(37,117,252,0.5);
}


.container button {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  background: #2575fc;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.3s;
  font-weight: 600;
}

.container button:hover {
  background: #1b5ed8;
}


.container p {
  margin-top: 15px;
  text-align: center;
  color: #444;
}

.container p span {
  color: #2575fc;
  cursor: pointer;
  font-weight: 500;
}

.container p span:hover {
  text-decoration: underline;
}


.welcome-box {
  width: 450px;
  padding: 45px;
  text-align: center;
  background: #ffffffee;
  border-radius: 18px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
}

.welcome-box h1 {
  font-size: 32px;
  color: #333;
}

.welcome-box p {
  margin-top: 10px;
  font-size: 20px;
  color: #555;
}
